body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.right {
	display: flex;
}
.right > div {
	margin: 10px;
}

main {
	padding: 100px;
}

h1 {
	font-size: 50px;
	font-weight: 400;
}

main {
	display: flex;
	margin-top: 20vh;
}
.main-container {
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: last baseline;
}

.info > p {
	max-width: 600px;
	letter-spacing: 1px;
}

.options > a {
	margin-top: 20px;
	margin-bottom: -20px !important;
	margin-right: 20px;
	padding: 10px;
	border-radius: 6px;
	background-color: rgba(128, 128, 128, 0.203);
	color: black;
	text-decoration: none;
}

.options > a:nth-last-of-type(1) {
	background-color: white !important;
}
