body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000;
	color: #fff;
	font-family: Arial, sans-serif;
}

.app {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

.canvas-container {
	flex: 1; /* 3D canvas takes up 50% of the screen */
}

canvas {
	display: block;
	width: 100%;
	height: 100%;
}

.ui-container {
	flex: 1; /* UI takes up 50% of the screen */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #222;
	padding: 20px;
}

.canvas-container {
	flex: 0.3;
}

.ui-container {
	flex: 0.7;
}

@media (max-width: 768px) {
	.app {
		flex-direction: column;
	}

	.canvas-container,
	.ui-container {
		flex: none;
		width: 100%;
		height: 50vh;
	}
}
