.fabric-nav-container {
	width: 100%;
}
.fabric-nav-child-container {
	display: flex;
	align-items: center;
}

.section-number {
	margin: 0px 10px;
}
.section-number.active {
	background-color: none;
	padding: 10px 15px;
	border-radius: 8px;
	border: none;
}
.section-number.active {
	background-color: #3d3d3d;
	padding: 10px 15px;
	border-radius: 8px;
	border: 1px solid white;
}

.fabric-title-container {
	margin: 20px 0px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}

.fabric-selection-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.fabric-container {
	color: white;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: 160px;
	height: 222px;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
}
.expanded-container {
	height: 70vh;
}

.fabric-container.active {
	display: flex;
	justify-content: center;
	background-color: #c83c00;
	border: 1px solid white;
	align-items: center;
	flex-direction: column;
}
.fabric-container > img {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	transition: all 300ms ease-in-out;
}

.fabric-option-price,
.fabric-option-title {
	text-align: center;

	font-size: 0.75rem;
	margin-bottom: 10px;
	margin-top: 10px;
}
