@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.persona-container{
    display: flex;
    flex-direction: column;
}
.persona-container .banner{
    height: 8px;
    margin-top: 5px;
}
.persona-all {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #3D3D3D;
    color: white;
    border-radius: 10px;
    gap: 23px;
    height: 80vh; 
    animation: fadeIn 1s ease-in; 
}

.persona-left-side{
    display: flex;
    flex-direction: row;
    height:100%;
    border-radius:16px;
    background: linear-gradient(123.21deg, #282828 27.78%, #52231f 94.21%);

}
.left-left{
    display: flex;
    flex-direction: column;
    background-color:#0F0F0F;
    margin-right:24px;
    border-radius:16px;
    max-width:290px;
    padding:24px;
    margin:24px;
 
}

.left-side, .right-side {
    flex: 1;
    margin: 10px;
}

.persona-right-side{
    background-color:#2E2E2E;
    border-radius:16px;
}

.persona-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.persona-image {
    width: 231px;
    height: 231px;
    border-radius: 50%;
    background-color: white !important;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

.persona-info {
    margin-top:81px;
    text-align: left;
}

.right-side h2 {
    margin-bottom: 20px;
}

.persona-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:24px;

}

.persona-card-image {
    width: 350px;
    height: 536px;
    margin-bottom: 10px;
}

.download-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #0056b3;
}

.additional-info{
    display: flex;
    flex-direction: column;
    padding:24px;
}

.brandDesc{
    color:#FFC4B1;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:16px;
}
.replay-container{
    margin-top:100px;
}

.title-and-desc{
    max-width:308px;
    margin-top:62px;
    margin-bottom: 24px;
}
/* create download via html and convert to png */
.persona-card-to-download{
    background-color: #000000;
    width: 350px;
    height: 536px;
    margin-bottom: 10px;
    border:none;
    padding:12px;
}
#download-img{
    background-color: transparent !important;
}
.download-title-container{
    display: flex;
    flex-direction: row;
    min-height:76px;
    width: 100%;
    border-radius:12px;
    background: linear-gradient(123.21deg, #218267 27.78%, #134B28 94.21%);
}
.d-p-name{
    margin-top: 0px;
}
.download-hearts-ui-container{
    display: flex;
    flex-direction:column;
    gap: 16px; 
    width:100%;
    margin-top:16px;

}
.download-hearts-ui-row {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 8px; 
    width: 100%;
    
}
.download-hearts-ui-container .hearts-ui-container {
    width: 155px;
    height: 50px;

}
.download-hearts-ui-container .heart-icon{
    width:16px;
    height:16px;
    margin:1px;
}
.download-hearts-ui-container .heart{
    margin-right:-2.5px;
}

.download-hearts-ui-container .hearts-ui-image{
    width: 40px;
    height: 40px;
}
.download-hearts-ui-container .metric-title{
    font-size: 8px;
    padding:6px;
}
